body {
background-image: url(Cavendish_Banana_DS.jpg);
background-size: cover;
color: rgb(0, 0, 0);}
.glavninaslov {
    color: rgb(67, 146, 49);
    background-color: darkmagenta;
    font-size: 50px;
    text-align: center;
}
h1 {
    color: brown;
    text-align: left;
    font-size: 60px;
    background-color: black;
    opacity: 0.5;
    padding: 50px;
}